# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Roberto\Desktop\Segundo-Semestre-2020\Desarrollo de aplicaciones web\Catedras\20201001.ModuloCGI-PyMySQL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
