{% extends "index" %}
{% block informar %}
<p>Rellene el formulario para informar las mascotas de un domicilio.</p>

<form method="POST">
    <p>Domicilio</p>
    <p>Región: <input type="text" name="region"></p>
    <p>Comuna: <input type="text" name="comuna"></p>
    <p>Nombre Calle: <input type="text" name="calle" size=100 maxlength=250></p>
    <p>Número: <input type="text" name="numero" size=20 maxlength=20></p>
    <p>Sector: <input type="text" name="sector" size=100 maxlength=100></p>
    <br>
    <p>Datos de Contacto</p>
    <p>Nombre: <input type="text" name="nombre" size=100 maxlength=200></p>
    <p>Email: <input type="email" name="email" size="100" maxlength=200></p>
    <p>Número Celular: <input type="tel" name="celular" size="15" maxlength=11></p>
    <br>
    <p>Información de mascota</p>
    <p>Tipo: <input type="tipo-mascota" name="tipo-mascota" ></p>
    <p>Edad (en años): <input type="number" name="edad-mascota" size=5 maxlength=2></p>
    <p>Color: <input type="text" name="color-mascota" size=30 maxlength=30></p>
    <p>Raza: <input type="text" name="raza-mascota" size=30 maxlength=30></p>
    <p>Esterilizado: <input name="estirilizado-mascota"></p>
    <p>Vacunas al día: <input name="vacunas-mascota"></p>
    <p>Foto: <input type="file" accept="image/*" name="foto-mascota"></p>
</form>
{% endblock %}