{% extends "index" %}
{% block listado %}
<table style="width:60%">
<tr>
    <th>Fecha ingreso</th>
    <th>Comuna</th>
    <th>Nombre calle</th>
    <th>Nombre contacto</th>
    <th>Total mascotas</th>
    <th>Total fotos</th>
</tr>
<tr>
    <td>Providencia</td>
    <td>Donde Juanito</td>
    <td>Loros: 1  Perros: 2</td>
    <td></td>
</tr>
<tr>
    <td>Ñuñoa</td>
    <td>Donde mi aguelita</td>
    <td>Gatos: 5</td>
    <td></td>
</tr>
<tr>
    <td>La reina</td>
    <td>Nueva York</td>
    <td>Hamsters: 80</td>
    <td></td>
</tr>
<tr>
    <td>Linderos</td>
    <td>Melipilla</td>
    <td>León: 1 Mono: 1</td>
    <td></td>
</tr>
<tr>
    <td>Buin</td>
    <td>Donde vive el cuco</td>
    <td>Coca: 1</td>
    <td></td>
</tr>
</table>
{% endblock %}